@charset "UTF-8";
/* ------------------------------------------------------------ */
@font-face {
  font-family: Lifehack;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Gagalin;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Ubuntu;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
/* ------------------------------------------------------------ */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Config */
/* --------------------------------------------- */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: static;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 13px;
  font-weight: 400;
  /*
      background-image: url("../img/bg-sites/img.jpg");

      font-family: 'Bebas Neue', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Open Sans', sans-serif;
  */
}

.container {
  width: 1280px;
  max-width: 1280vw;
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-1 */
/* --------------------------------------------- */
.section-1 {
  display: block;
  position: relative;
  background-image: url("../img/bg-header.png");
  margin: 0 auto;
  width: 1280px;
  min-height: 57px;
}

.section-1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1024px;
  min-height: 57px;
}

.section-1__logo-img {
  display: block;
  background-image: url("../img/logo.png");
  width: 181px;
  height: 28px;
  margin-left: 6px;
}

.section-1__burger-btn {
  display: block;
  background-image: url("../img/bg-burger-btn.png");
  width: 60px;
  min-height: 57px;
}
.section-1__burger-btn:hover {
  cursor: pointer;
}

.section-1__burger-btn-img {
  display: block;
  background-image: url("../img/burger-btn.png");
  width: 38px;
  height: 29px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-2 {
  display: block;
  background-image: url("../img/main-slide.jpg");
  background-repeat: no-repeat;
  margin-top: -71px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 1280px;
  height: 608px;
}

.section-2__arrow-left,
.section-2__container,
.section-2__arrow-rght {
  padding-top: 71px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */