/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */

.section-4 {
    margin: 0 auto;

    width: 1280px;
    min-height: 282px;
}

.section-4__container-header {
    font-size: 23.3px;
    color: #636363;
    font-weight: 400;
    text-align: center;

    margin-top: 42px;
    margin-bottom: 41px;
}

.section-4__flex {
    display: flex;
    justify-content: space-between;

    padding-left: 179px;
    padding-right: 158px;
    padding-bottom: 71px;
}

.section-4__flex-lists {
    list-style: none;

    margin: 0;
    
    padding-left: 0;
}
  
.section-4__flex-lists-link {
    text-decoration: none;

    font-size: 15.3px;
    color: rgba( 99, 99, 99, 0.549 );
    font-weight: 400;
    line-height: 1.9;

    &:hover {
        color: #3d7b8a;
        transition: 1s;
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */